<template>
  <header>
    <link
      id="goldenlayout-theme"
      type="text/css"
      rel="stylesheet"
      href="//golden-layout.com/assets/css/goldenlayout-light-theme.css"
    />
    <nav data-theme="light" id="main-nav-frame">
      <label for="drop-menu" toggle>Menu</label>
      <input type="checkbox" id="drop-menu" />

      <!-- TODO make dynamically rendered from a TS config (less code repetition + type checking for addPanel arg) -->
      <ul class="menu">
        <li>
          <!-- a is used on big screens, the checkbox and its label are used on small screens -->
          <label for="drop-file" toggle>File</label>
          <a href="#">File</a>
          <input type="checkbox" id="drop-file" />
          <ul>
            <li><a href="#">Commit</a></li>
            <li><a href="#">Save to branch</a></li>
          </ul>
        </li>
        <li>
          <label for="drop-panels" toggle>Panels</label>
          <a href="#">Panels</a>
          <input type="checkbox" id="drop-panels" />
          <ul>
            <li
              ref="panelentry"
              v-for="(panel, title) in panels"
              :key="title"
              :title="title"
              @click="addPanel(title)"
            >
              <a href="#"
                ><span>{{ title }}</span
                ><img src="../../assets/drag_indicator-24px.svg" alt="drag me"
              /></a>
            </li>
          </ul>
        </li>
        <li>
          <!-- a is used on big screens, the checkbox and its label are used on small screens -->
          <label for="drop-options" toggle>Options</label>
          <a href="#">Options</a>
          <input type="checkbox" id="drop-options" />
          <ul>
            <li>
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox" />
                  <div class="slider round"></div>
                </label>
                <em>Dark mode</em>
              </div>
            </li>
          </ul>
        </li>
      </ul>

      <section workspaces>
        <span>Workspace:</span>
        <button @click="resetWorkspace('layout A')">Layout A</button>
        <button @click="resetWorkspace('layout B')">Layout B</button>
      </section>
    </nav>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { panels, panelTitle } from "../../panels/";
import { layout } from "../../lib/goldenlayout/mainLayout";
import { getPanelTitle } from "../../lib/goldenlayout/makePanelConfig";
import { workspaces, workspaceName } from "../../lib/goldenlayout/workspaces";

@Component
export default class extends Vue {
  private panels = panels;

  public mountDraggers() {
    (this.$refs.panelentry as any[]).forEach(entry => {
      layout.addDragger(entry, entry.title as panelTitle);
    });
  }

  private addPanel(name: string) {
    const title = getPanelTitle(name);
    if (title) {
      layout.addPanel(title);
    }
  }

  private resetWorkspace(name: string) {
    const workspace = workspaces[name as workspaceName];
    if (!workspace) {
      // eslint-disable-next-line no-console
      console.error("no workspace with name", name);
      return;
    }
    layout.resetLayout(workspace);
  }

  private switchTheme(e: any) {
    const mainNavFrame: HTMLElement = document.getElementById(
      "main-nav-frame"
    )!;
    if (e.target.checked) {
      mainNavFrame.setAttribute("data-theme", "dark");
      this.changeCSS(
        "//golden-layout.com/assets/css/goldenlayout-dark-theme.css",
        0
      );
      localStorage.setItem("theme", "dark");
    } else {
      mainNavFrame.setAttribute("data-theme", "light");
      this.changeCSS(
        "//golden-layout.com/assets/css/goldenlayout-light-theme.css",
        0
      );
      localStorage.setItem("theme", "light");
    }
  }

  private addListeners() {
    const toggleSwitch = document.querySelector(
      '.theme-switch input[type="checkbox"]'
    ) as HTMLInputElement;

    toggleSwitch.addEventListener("change", this.switchTheme, false);
  }

  private changeCSS(cssFile: any, cssLinkIndex: any) {
    const goldelayoutCss: HTMLElement = document.getElementById(
      "goldenlayout-theme"
    )!;

    var newlink = document.createElement("link");
    newlink.setAttribute("rel", "stylesheet");
    newlink.setAttribute("type", "text/css");
    newlink.setAttribute("href", cssFile);
    newlink.setAttribute("id", "goldenlayout-theme");

    document
      .getElementsByTagName("header")
      .item(0)!
      .replaceChild(newlink, goldelayoutCss);
  }

  private restoreTheme() {
    const currentTheme = localStorage.getItem("theme")
      ? localStorage.getItem("theme")
      : null;

    if (currentTheme) {
      const mainNavFrame: HTMLElement = document.getElementById(
        "main-nav-frame"
      )!;

      if (currentTheme === "dark") {
        mainNavFrame.setAttribute("data-theme", "dark");
        this.changeCSS(
          "//golden-layout.com/assets/css/goldenlayout-dark-theme.css",
          0
        );
      } else {
        mainNavFrame.setAttribute("data-theme", "light");
        this.changeCSS(
          "//golden-layout.com/assets/css/goldenlayout-light-theme.css",
          0
        );
        localStorage.setItem("theme", "light");
      }

      const toggleSwitch = document.querySelector(
        '.theme-switch input[type="checkbox"]'
      ) as HTMLInputElement;

      if (currentTheme === "dark") {
        toggleSwitch.checked = true;
      }
    }
  }

  mounted() {
    // TODO move this theme logic to the store and App.vue
    this.addListeners();
    this.restoreTheme();
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/variables/z-index";

[data-theme="light"] {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: gray;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}

$dropdown-width: 200px;
$dropdown-background: var(--bg-color);
$dropdown-hover-background: var(--heading-color);

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $dropdown-background;
}

a {
  color: #fff;
}

[toggle],
input[type="checkbox"] {
  display: none;
}

nav {
  margin: 0;
  padding: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: $z-control;
}

nav ul li {
  margin: 0;
  display: inline-block;
  background-color: $dropdown-background;
}

nav a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 14px 20px;
  text-decoration: none;

  img {
    height: 17px;
    width: 17px;
    margin: 0;
    padding: 0;
    position: relative;
    right: -20px + 5px;
  }
}

nav img {
  display: block;
}

nav ul li ul li:hover {
  background: $dropdown-hover-background;
}

/* Background color change on Hover */
nav a:hover {
  background-color: $dropdown-hover-background;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute;
  /* has to be the same number as the "line-height" of "nav a" */
  // top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: $dropdown-width;
  display: list-item;
  position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top: -80px;
  left: $dropdown-width;
}

// /* Change ' +' in order to change the Dropdown symbol */
// li > a:after {
//   content: " +";
// }
// li > a:only-child:after {
//   content: "";
// }

/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {
  ul ul li {
    background: rgba(0, 0, 0, 0.05);
  }

  nav {
    margin: 0;
  }

  [toggle] + a,
  nav > ul {
    display: none;
  }

  [toggle] {
    display: block;
    // background-color: #254441;
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    border: none;
  }

  [toggle]:hover {
    background-color: $dropdown-hover-background;
  }

  /* Display Dropdown when clicked on Parent Lable */
  input[type="checkbox"]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul [toggle],
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    // background-color: $dropdown-hover-background;
  }

  nav ul li ul li [toggle],
  nav ul ul a,
  nav ul ul ul a {
    padding: 14px 20px;
    color: #fff;
    font-size: 17px;
  }

  nav ul li ul li [toggle],
  nav ul ul a {
    // background-color: #212121;
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    // float: none;
    position: static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }

  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }

  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */
  }
}

@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}

.svg-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 80px;
  right: 0;
  width: 40%;
  height: 90%;
  //background-color: #00ff00;
  :hover {
    //cursor: pointer;
  }
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  em {
    margin-left: 10px;
    font-size: 1rem;
    color: white;
  }
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
