<template>
  <section pstools>
    <Header ref="header" />
    <!-- this is where golden-layout gets mounted -->
    <section workspace ref="workspace"></section>
  </section>
</template>

<style lang="scss" scoped>
[pstools] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  [workspace] {
    flex: 1;
    overflow: auto; // fixes bug where resizing to smaller size malfunctions in goldenlayout
  }
}
</style>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { Layout } from "./lib/goldenlayout/layout";
import { workspaces } from "./lib/goldenlayout/workspaces";
import Header from "./components/header/main.vue";
import * as mainLayout from "./lib/goldenlayout/mainLayout";

@Component({
  components: {
    Header,
  },
})
export default class extends Vue {
  public mounted() {
    mainLayout.init(this.$refs.workspace as HTMLElement);
    (this.$refs.header as Header).mountDraggers();
  }

  private resetWorkspace(name: keyof typeof workspaces) {
    mainLayout.layout.resetLayout(workspaces[name]);
  }
}
</script>
