<template>
  <section code-editor>
    <pre ref="ace"></pre>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { edit as makeEditor, Editor, Annotation } from "brace";
import { stores } from "../store";
import "brace/mode/xml";
import "brace/theme/chrome";
import axios from "axios";
import goStyle from "../lib/to";

@Component
export default class extends Vue {
  private editor!: Editor;

  public async doValidate(): Promise<Annotation[]> {
    const s = this.editor.getSession();
    if (stores.xml.xml != s.getValue()) {
      stores.xml.setXML(s.getValue());
    }

    s.clearAnnotations();
    const response = await axios.post(
      "/api/v1/external/vet",
      {
        arguments: {
          rawXML: true,
          XML: s.getValue(),
        },
      },
      {
        // responseType: 'text', https://github.com/axios/axios/issues/907
        transformResponse: [r => r],
      }
    );

    const result = (response.data as string)
      .split("\n")
      .filter(s => s)
      .map(s => JSON.parse(s))
      .filter(entry => entry.type == "commandOutput")
      .map(e => e.data.Data)
      .map(d => ({
        row: d.Line ? d.Line - 1 : 0,
        column: 0,
        type: "error",
        text: d.Message,
      }));
    s.setAnnotations(result);
    return result;
  }

  public async mounted() {
    // TODO move validation logic to store, access with getter
    const e = (this.editor = makeEditor(this.$refs.ace as HTMLElement));
    const s = e.getSession();
    e.$blockScrolling = Infinity;
    e.setTheme("ace/theme/chrome");
    s.setMode("ace/mode/xml");
    s.setUseWorker(false); // disable built-in validator
    e.setValue(stores.xml.xml, -1);
    s.on("change", this.doValidate);
    this.doValidate();

    stores.root.subscribe((mutation, state) => {
      if (mutation.type == "setXML") {
        if (s.getValue() != mutation.payload) {
          s.setValue(mutation.payload);
        }
      }
    });
  }
}
</script>

<style scoped lang="scss">
[code-editor] {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  pre {
    margin: 0;
    flex: 1;
  }
}
</style>
